@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

   
    
@{
    //SelectList list = new SelectList(ViewBag.Trip, "Id", "Name");
    Layout = "_Layout";
}

@model Plan
<form asp-action="Add" asp-controller="Plan" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>


 

    <div class="form-group">
        <label asp-for="Pickup_Point"></label>
        <input asp-for="Pickup_Point" class="form-control" />
    </div>

@* 
    <div class="mb-3 form-check">
        <label class="form-check-label" asp-for="TripId">Trip</label>
        <select asp-for="TripId" class="form-control" asp-items="list">
       
        </select>}
    </div> *@


    <button type="submit" class="btn btn-primary">Add Plan</button>
</form>